@page "/BadgetList"
@using Entities = Badgetwork.Infrastructure.Entities;
@using Budgetwork.Business.Services;
@inject BaseService<Entities.Badget> _BadgetService
<h3>Lista de presupuestos</h3>

@if (Badgets == null)
{
    <p>Cargando...</p>
}
else
{
    @foreach (var item in Badgets)
    {
        <p>Name: @item.Name</p>
    }
}



@code {

    private IEnumerable<Entities.Badget> Badgets;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Badgets = await _BadgetService.GetAll();

        }
        catch (global::System.Exception)
        {

            throw;
        }
    }

}
